<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  {{!--
  <link rel="stylesheet" type="text/css" href="/css/jass.css"> --}}
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Welcome to the Tech Blog</h1>
  </header>
  <nav>
    <a href="/login">Log in</a>
    {{#if loggedIn}}
     <a href="/">Home</a>
      <a href="/dashboard">Dashboard</a>
      <button id="logout">logout</button>
    {{/if}}

  </nav>

  <main>
    <aside>
      <h2>Enjoy the post!</h2>
    </aside>
    <div class="post">
      {{{body}}}
    </div>
  </main>

  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>




{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Tech Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <section class="hero is-fullheight-with-navbar block">
        {{#if logged_in}}
        <div class="hero-head">
            <div class="hero is-fullwidth has-background is-success">
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-title is-size-3 has-text-weight-bold">
                            <a class="navbar-item">MVC Tech Blog</a>
</div>
              </div>
              <div class="navbar-menu">
                <div class="navbar-end">
                  <a href="/" class="navbar-item is-active has-text-weight-medium">Home</a>
                  <a href="/dashboard" class="navbar-item is-active has-text-weight-medium">Dashboard</a>
                </div>
              </div>
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a href="/logout" class="button is-info">
                      <strong>Logout</strong>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    {{else}}
      <div class="hero-head">
        <div class="hero is-fullwidth has-background is-link">
          <nav class="navbar">
            <div class="container">
              <div class="navbar-title is-size-2 has-text-weight-bold">
                <a class="navbar-item">MVC Tech Blog</a>
      </div>
              </div>
              <div class="navbar-menu">
                <div class="navbar-end">
                  <a href="/" class="navbar-item is-active has-text-weight-medium">Home</a>
                  <a href="/dashboard" class="navbar-item is-active has-text-weight-medium">Dashboard</a>
                </div>
              </div>
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a href="/login" class="button is-info">
                      <strong>Login</strong>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    {{/if}}

    <main>
      <div class="post">
        {{{body}}}
      </div>
    </main>

  </section>

 {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html> --}}