:root {
    --primary: #f0ebf8;
    --secondary: #dcceeb;
    --dark: #43238f;  
    --border-radius: 0.3rem;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
    color: var(--dark);
    line-height: 1.25;
}

#header {
  padding-top: 20px;
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
    text-align: center;
}

header {
    margin-top: 50px;
  }
  
main {
    margin: 20px auto;
    width: 94%;
  }  
  
  a {
    text-decoration: none;
    color: var(--dark)
  }
  
  p {
    font-size: 1.2rem;
  }
  
  input {
      width: 100%;
      border: 1px solid #ccc;
      background: #FFF;
      margin: 0 0 5px;
      padding: 10px;
  }
  
.card-header h2 {
    color: var(--primary);
  }  
  
  .btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: var(--dark);
    border: none;
    outline: none;
    background-color: var(--secondary);
    transform: translate(-1px, -1px);
  }
  
  .btn:hover {
    color: var(--dark);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    cursor: pointer;
  }
  
  .btn-inline {
    display: inline;
  }
  
  .li-inline {
    display: inline;
  }
  
.nav {
    width: 100%;
    padding: 1em;
    margin-bottom: .5em;
    background-color: var(--secondary);
}

.nav-item {
    margin: 0 40px;
    display: inline-block;
}
  
.nav-item a {
    color: var(--primary);
    display: inline-block;
}

.card {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    width: 600px;
  }
  
.card-header {
    color: var(--dark);
    background-color: var(--secondary);
    padding: 1%;
    border-radius: 10 10 0 0;
    display: inline-block;
  }

.float-left {
  float: left;
} 

.float-right {
  float: right;
}

.card-text {
  height: 150px;
  padding: 1%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid var(--primary);
    border-radius: var(--border-radius);
}
.card-body {
    padding: 1%;
    text-align: center;
  }
.card-footer {
  color: var(--dark);
    background-color: var(--secondary);
    padding: 1%;
    border-radius: 10 10 0 0;
}

  .form-label,
  .form-input,
  .form-textarea {
    display: block;
  }
  
  .form-label {
    font-size: 1.1rem;
    margin: 0 0 0 5px;
  }
  
  .form-input {
    width: 100%;
    padding: 1%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid var(--primary);
    border-radius: var(--border-radius);
  }

.comment {
  display: contents;
  
}

